<%- include('partials/header.ejs') %>

<section>
  <div class="container">
    <a href="/perguntar" class="btn-nav">Perguntar</a>
    <% perguntas.forEach((pergunta) => { %>
    <div class="pergunta">
      <h3><%= pergunta.titulo %></h3>
      <a href="/pergunta/<%= pergunta.id %>" class="btn-responder">Responder</a>
    </div>
    <% }) %>
  </div>
</section>

<%- include('partials/footer.ejs') %>
