<%- include('partials/header.ejs') %>

<section>
  <div class="container">
    <div class="pergunta">
      <h3><%= pergunta.titulo %></h3>
      <p><%= pergunta.descricao %></p>
    </div>
  </div>
</section>

<%- include('partials/footer.ejs') %>
